<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Team</title>
    </head>
    <body>
        <h1>Team List</h1> <!--head-->
        <h2>Welcome!</h2>

        <table>
            <thead>
                <tr>  <!--table row-->
                    <th>Name</th><th>Member Count</th> <!--table row head name-->
                </tr>
            </thead>
            <tbody>
                <tr th:each = "team : ${teamList}"> <!--model key for attribute-->
                    <td th:text="${team.name}"></td><td th:text="${team.memberCount}"></td>
                </tr> <!--table body, two td for two rows. A loop-->
            </tbody>
        </table>
       
    </body>
</html>