<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Team</title>
    </head>
    <body>
        <h1>Team Home Page</h1>
        <h2>Welcome <span th:text="${username}"></span>!</h2> <!-- display username-->

        <div><a th:href="@{/team/list}">Team List</a></div> <!--th: This will ignore ip address. 
            Team List will become a link-->

        <div><a th:href="@{/team/add}">Add Team</a></div>
    </body>
</html>